/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/node_modules
/log
*.log
*.lock
/resources/public/*.js
/resources/public/*.woff
/resources/public/*.woff2
.tern-port
