@import '~bootstrap/scss/bootstrap';
@import '~codemirror/lib/codemirror';
@import './codemirror-cyberpunk';

html, body {
  height: 100%;
  // TODO should be set through code, refresh
  font: 10pt Inconsolata;
}

.CodeMirror {
  height: 100%; 
}
